<script src="https://unpkg.com/jquery"></script>

<link href="https://unpkg.com/survey-jquery@1.9.60/defaultV2.css" type="text/css" rel="stylesheet"/>
<script src="https://unpkg.com/survey-jquery@1.9.60/survey.jquery.min.js"></script>
<div id="surveyContainer"></div>

