<div class="flex gap-x-10 gap-y-6 flex-col md:flex-row">
  <% @tracks.each do |track| %>
  <div class="bg-white shadow rounded-lg dark:bg-gray-800 dark:ring-1 dark:ring-white/10 dark:ring-inset flex flex-col">
    <div class="p-8 pb-0 flex flex-col justify-between items-center">
      <a class="p-2 dark:bg-gray-700/50 rounded-full" href="/paths/full-stack-ruby-on-rails">
      <img alt="Full Stack Ruby on Rails badge" class="w-24 h-24" src="/assets/badge-ruby-on-rails-5c5f3a237abf4d3d3cb3d7efc64cdbd9e493b876bd7a64c8b70977204d93ddaa.svg">
      </a>
      <div class="w-full flex justify-between pt-6">
        <p class=" text-gold-600">PATH</p>
        <p class=" text-gray-500 dark:text-gray-400"><%= track.courses_count %> Courses</p>
      </div>
    </div>
    <div class="p-8 flex-grow">
      <a class="no-underline" href="<%= url_for(courses_url(track_id: track.id)) %>">
        <h2 class="text-xl font-medium pb-4 text-gray-800 dark:text-gray-200">
          <%= track.name %>
        </h2>
      </a>
      <p class="prose prose-gray max-w-none text-gray-500 dark:text-gray-400">
        <%= track.description %>
      </p>
    </div>
    <div class="p-8 pt-0 ">
      <div class="flex space-x-6 items-center justify-center sm:justify-start">
        <form class="button_to" method="post" action="/users/paths?path_id=1"><button class="button button--primary px-10 lg:px-12" data-test-id="full stack ruby on rails-select-path-btn" type="submit">
          Select
          </button><input type="hidden" name="authenticity_token" value="NMRCuo8Vj-yPzr2DRgFqCZIiGFTEEKfCeFbveTt-a1iNaQ5ArsxFTp1q9unORK1lAkzs_tBHoYl4EP61E8EwiA" autocomplete="off">
        </form>
        <form class="button_to" method="get" action="https://www.theodinproject.com/paths/full-stack-ruby-on-rails"><button class="button button--clear px-10 lg:px-12" type="submit">
          View
          </button>
        </form>
      </div>
    </div>
  </div>
  <% end %>
</div>
