<% if view_name == "confirmation_instructions" %>

    <a href="<%= url_for(confirmation_url(@resource, confirmation_token: @token)) %>" class="v-button v-size-width" style="box-sizing: border-box;display: inline-block;font-family:arial,helvetica,sans-serif;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #000000; background-color: #91a5e2; border-radius: 3px;-webkit-border-radius: 3px; -moz-border-radius: 3px; width:100%; max-width:100%; overflow-wrap: break-word; word-break: break-word; word-wrap:break-word; mso-border-alt: none;border-top-color: #ced4d9; border-top-style: solid; border-top-width: 3px; border-left-color: #ced4d9; border-left-style: solid; border-left-width: 3px; border-right-color: #ced4d9; border-right-style: solid; border-right-width: 3px; border-bottom-color: #ced4d9; border-bottom-style: solid; border-bottom-width: 3px;font-size: 14px;">
        <span class="v-padding" style="display:block;padding:15px 40px;line-height:120%;"><span style="line-height: 16.8px;">C O N F I R M   E M A I L</span></span>
    </a>
    
<% elsif view_name == "reset_password_instructions" %>
    
    <a href="<%= url_for(edit_password_url(@resource, reset_password_token: @token)) %>" class="v-button v-size-width" style="box-sizing: border-box;display: inline-block;font-family:arial,helvetica,sans-serif;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #000000; background-color: #91a5e2; border-radius: 3px;-webkit-border-radius: 3px; -moz-border-radius: 3px; width:100%; max-width:100%; overflow-wrap: break-word; word-break: break-word; word-wrap:break-word; mso-border-alt: none;border-top-color: #ced4d9; border-top-style: solid; border-top-width: 3px; border-left-color: #ced4d9; border-left-style: solid; border-left-width: 3px; border-right-color: #ced4d9; border-right-style: solid; border-right-width: 3px; border-bottom-color: #ced4d9; border-bottom-style: solid; border-bottom-width: 3px;font-size: 14px;">
        <span class="v-padding" style="display:block;padding:15px 40px;line-height:120%;"><span style="line-height: 16.8px;">C H A N G E   P A S S W O R D</span></span>
    </a>
    
<% end %>      
