<% if view_name == "confirmation_instructions" %>
    
    <p style="font-size: 14px; line-height: 140%;"><span style="font-family: 'Crimson Text', serif; font-size: 14px; line-height: 19.6px;"><strong><span style="font-size: 22px; line-height: 30.8px;">Welcome <%= @email %>!</span></strong></span></p>
    <p style="font-size: 14px; line-height: 140%;"> </p>
    <p style="font-size: 14px; line-height: 140%;">You can confirm your account email through the link below.</p>

<% elsif view_name == "reset_password_instructions" %>
    
    <p style="font-size: 14px; line-height: 140%;"><span style="font-family: 'Crimson Text', serif; font-size: 14px; line-height: 19.6px;"><strong><span style="font-size: 22px; line-height: 30.8px;">Hello <%= @resource.email %>!</span></strong></span></p>
    <p style="font-size: 14px; line-height: 140%;"> </p>
    <p style="font-size: 14px; line-height: 140%;">Someone has requested a link to change your password. You can do this through the link below.</p>
    
<% end %>
