<% if view_name == "confirmation_instructions" %>

    <p style="font-size: 14px; line-height: 140%;"><span style="font-size: 18px; line-height: 25.2px; font-family: 'Crimson Text', serif;">If you didn't request this, please ignore this email.</span></p>
    
<% elsif view_name == "reset_password_instructions" %>
    
    <p style="font-size: 14px; line-height: 140%;"><span style="font-size: 18px; line-height: 25.2px; font-family: 'Crimson Text', serif;">If you didn't request this, please ignore this email.</span></p>
    <p style="font-size: 14px; line-height: 140%;"> </p>
    <p style="font-size: 14px; line-height: 140%;"><span style="font-size: 18px; line-height: 25.2px; font-family: 'Crimson Text', serif;">Your password won't change until you access the link above and create a new one</span></p>

<% end %>
