<%= javascript_include_tag "https://unpkg.com/jquery", "data-turbo-track": "reload", defer: true %>
<%= stylesheet_link_tag "https://unpkg.com/survey-jquery@1.9.74/defaultV2.css", media: "all", "data-turbo-track": "reload" %>
<%= javascript_include_tag "https://unpkg.com/survey-jquery@1.9.74/survey.jquery.min.js", "data-turbo-track": "reload", defer: true %>
<%= javascript_include_tag "surveyjs", "data-turbo-track": "reload", "id": "helper", "data-surveyjs": my_asset, defer: true %>
<div id="surveyContainer"></div>