<p><strong><%= @step.name %></strong></p>
<% if @step.stepable_type == "Lecture" %>
    <a href=<%= Lecture.find(@step.stepable_id).youtube_video_link %> target="_blank" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Watch the video</a>
<% else %>
    <% Quiz.find(@step.stepable_id).questions.each do |question| %>
        <p><strong><%= question.ask %></strong></p>
    <% end %>
<% end %>