<h1 class="text-3xl font-bold underline" ><%= @track.name %></h1>
<% @courses.each do |course| %>
  
  <% if current_user && course.completed? %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline-block">
      <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
  <% elsif current_user && !course.completed? %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline-block">
     <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
    </svg>

  <% end %>
  
  <%= link_to course.name, course_steps_path(course_id: course.id), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
  <p><%= course.description %></p>
<% end %>
