<div class="text-gray-700 dark:text-gray-300 group flex items-center px-3 py-2 text-sm">
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500 dark:text-gray-300 dark:group-hover:text-gray-400">
        <title id="aemh64i22ar90qpbjoerwbq3pkgc4meu">switch language icon</title>
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 21l5.25-11.25L21 21m-9-3h7.5M3 5.621a48.474 48.474 0 016-.371m0 0c1.12 0 2.233.038 3.334.114M9 5.25V3m3.334 2.364C11.176 10.658 7.69 15.08 3 17.502m9.334-12.138c.896.061 1.785.147 2.666.257m-4.589 8.495a18.023 18.023 0 01-3.827-5.802" />
      </svg>
    </div>
    <div>
      <% unless current_page?(locale: :en) %>
        <%= link_to t('navbar.switch_to'), locale: :en %>
      <% end %>

      <% unless current_page?(locale: :ar) %>
        <%= link_to t('navbar.switch_to'), locale: :ar %>
      <% end %>
    </div>
</div>
